/* .headerCell {
    color: white;
    background-color: rgb(243, 120, 120);
    font-size: 1.75rem;
    border: 1px solid #333;
}

.inputCell {
    padding: 3px;
    margin: auto;
}

.dataCell {
    padding: 3px;
    font-size: 1.25rem;
    border: 1px solid #333;
}

.dataRow:nth-child(even) {
    background-color: rgb(243, 120, 120);
} */

/* .headerCell {
        color: white;
        min-width: 100px;
        background-color: #007c77;
        font-size: 1.75rem;
        border: 1px solid #333;
} */

.headerCell {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: white;
    min-width: 100px;
    background-color: #007c77;
    font-size: 1.75rem;
    border: 1px solid #333;
}

.inputCell {
    padding: 3px;
    margin: auto;
}

.dataCell {
    padding: 3px;
    font-size: 1.25rem;
    border: 1px solid #333;
}

.dataRow:nth-child(even) {
    background-color: #bbb;
}

button {
    font-size: 12px;
}