/* * {
    padding: none;
    margin: none;
} */

body {
    padding: 0%;
    margin: 0%;
    min-width: 1200px;

    font-size: 1rem;
    color: rgb(110, 110, 110);
    text-align: justify;
    font-family: Roboto,Helvetica,Arial,sans-serif;

    background-color: whitesmoke;
}

/* Container */
#main {
    
    width: 60%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px; 
}

/* Container for sections/steps. */
.step {
    display: flexbox;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;

    padding: 1rem 4rem;
    margin: 2rem;
    height: fit-content;

    text-align: justify;
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgba(138,134,138,1);  
}
/* Container for example tables. */
.step-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    color: black;
}
.step, h2 {
    text-align: justify;
}

/* Navbar */
nav {
    top: 0;
    left: 0;
    position: sticky;
    height: 5vh;
    width: 100%;
    padding: 0px;
    margin: 0px;

    display: flex;
    align-items: center;

    /* background-color: #777; */
    background-color: #007c77;   
    box-shadow: 0px 5px 10px 0px rgba(138,134,138,1); 
    /* border-bottom: 5px #777 solid; */
    /* border-bottom: 5px #007c77 solid; */
}
ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    height: 100%;
    margin-left: auto;
}
li {
    display: flex;
    align-items: center;
    padding: 0rem 0.5rem;
    list-style: none;
    height: 100%;

    color: white;
    font-size: 1.25rem;
}
a {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    padding: 0rem 0.5rem;
    list-style: none;
    height: 100%;

    color: white;
    font-size: 1.25rem;
}
.logo {
    display: flex;
    align-items: center;
    padding: 0rem 1rem;

    color: white;
    font-size: 1.25rem;
}
li:hover{
    background-color: #777;
}

/* Container for code snippets. */
.code {

    margin-left: auto;
    margin-right: auto;
    padding: 1rem;

    background-color: rgba(211, 211, 211, 0.486);
    
    font-family: Consolas,"courier new";
    font-size: 0.9rem;
    font-weight: 550;
    line-height: 1.5rem;
}