#main {
    width: 750px;
    text-align: justify;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    background-color: whitesmoke;
}

.code {

    /* width: 90%; */
    margin-left: auto;
    margin-right: auto;

    background-color: lightgrey;
    padding: 15px;
    font-family: Consolas,"courier new";
    font-size: 0.9rem;
    font-weight: 550;
    line-height: 1.5rem;
}